
.titulo {
    text-align: center;
    text-decoration: underline;
}

th, td {
    border: 1px solid black;
}

th {
    background-color: blanchedalmond;
}

td {
    background-color: rgba(199, 199, 240, 0.27);
    width: 200px;
    text-align: center;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}
td:hover{
    background: rgba(235, 65, 65, 0.45);
    background: linear-gradient(90deg, rgba(126, 194, 233, 0.585) 0%, rgba(237, 237, 230, 0.709) 100%);
}
th:hover {
    background: rgb(231,48,98);
    background: linear-gradient(90deg, rgba(231,48,98,1) 0%, rgba(201,223,50,0.7091211484593838) 100%);
}












