
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgba(14, 14, 33, 0.889)
}
.home_logo {
    width: 200px;
    
}
/* img {
    width: 40%;
} */
.navbar_ul {
    font-size: 12px;
    font-weight: 600;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
    padding: 10px;
    background-color: rgba(14, 14, 33, 0.889);
    
}
.navbar_ul li {
    margin-top: 30px;
}

.link {
    text-decoration: none;
    color: rgb(214, 213, 213);
}
.link:hover {
    color: white;
}
.instalar {
    padding: 3px;
    text-decoration: none;
    background-color: rgb(74, 164, 74);
    border-radius: 2px;
    font-size: 12px;
}
.link_p {
    color: white;
    margin-top: 30px;
}
.navbar_ul2 {
    /* width: 80%;*/
    margin-top: 5%;
    /* margin-left: 10%; */
    height: 40px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
    padding: 10px;
    background-color: rgba(90, 148, 228, 0.889);
}
.navbar_ul2 li:hover {
    background-color:rgba(118, 173, 250, 0.889) ;
    
    
}
.link2 {
    text-decoration: none;
    color: white;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgba(14, 14, 33, 0.889);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    
}
  /* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    
    
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: azure;
    color: grey;
    
    
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    transition: opacity .5s ease-in-out;
}

/* NAVBAR 2 START */
/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color:rgba(103, 103, 106, 0.889);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    
}
  /* Links inside the dropdown */
.dropdown-content2 a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
    margin-left: 10px;
    font-size: 14px;
    
    
}
/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
    
    text-decoration: underline 2px solid white;
    
    
    
    
}
/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
    display: block;
    transition: opacity .5s ease-in-out;
}
/* NAVBAR 2 END */

.sidebar {
    width: 20%;
    color: white;
    background-color: rgba(14, 14, 33, 0.889);
    text-align: start;
    margin-left: 5px;
    padding: 5px;
}
.sidebar li a {
    color: white;
    padding: 5px;
    margin-top: 5px;
    
}
.carousel1-img {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -450px;
    margin-bottom: 5px;
    
}
.carousel2 {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
.carousel3 {
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
